.line {
  display: flex;
  /* space betweem */
  justify-content: space-between;
  padding: 0.75em 0;
}

.line:not(:has(.title)) {
  border-top: 1px solid var(--background-modifier-border);
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.regex {
  flex-basis: 45%;
}

.class {
  flex-basis: 100%;
}

.hidden {
  opacity: 0;
  width: 10em;
}

.h2 {
  font-size: 1.8em;
  font-weight: bold;
  margin: 0.5em 0;
}

.regex-setting-secondary {
  font-size: 0.8em;
  color: #666;
}

.is-live-preview .cm-hide {
  display: none;
}

.is-live-preview .cm-active .cm-hide {
  display: inline;
}

.regex-setting .setting-item-info {
  display: none;
}

.regex-setting input.min-width {
  min-width: 7ch;
}

.regex-setting input.extra-width {
  width: 100%;
}

.regex-setting input.is-invalid {
  border-color: var(--text-error);
}

.regex-setting .is-disabled-manually {
  pointer-events: none;
  opacity: 0.5;
}

.regex-setting-bold {
  font-weight: bold;
}
